<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resultados de Fibonacci</title>
</head>
<body>
<h2>Resultados de la API de Fibonacci</h2>
<table border="1">
    <tr>
        <th>Valor A</th>
        <th>Valor B</th>
        <th>Cantidad</th>
        <th>Resultado</th>
        <th>Correo</th>
        <th>Fecha de Envío</th>
    </tr>
    <tr th:each="r : ${resultados}">
        <td th:text="${r.a}"></td>
        <td th:text="${r.b}"></td>
        <td th:text="${r.cantidad}"></td>
        <td th:text="${r.resultado}"></td>
        <td th:text="${r.email}"></td>
        <td th:text="${r.fechaEnvio}"></td>
    </tr>
</table>
</body>
</html>
